#I/O Operations

In [ ]:
#Problem - 1
'''
I/P:

-> Name : [Sai Vardhan]
-> Date of Birth : date [24]
-> Date of birth : Month [8]
-> Date of Birth : Year [2024]
-> Height [5.78]
O/p:

Name : Sai vardhan
DOB : 24 - 8 - 2024
Height : 5.7
'''
#Source code
a = input("Enter Your name: ")
b = int(input("Enter Date of Birth: "))
c = int(input("Enter Month of Birth: "))
d = int(input("Enter Year of Birth: "))
h = float(input("Enter your Height: "))

Enter Your name: Sai Vardhan
Enter Date of Birth: 24
Enter Month of Birth: 8
Enter Year of Birth: 2024
Enter your Height: 5.7
Name : Sai Vardhan
DOB : 24 - 8 - 2024
Height : 5.7

In [ ]:
#Normal Method
print("Name :",a)
print("DOB :",b,"-",c,"-",d)
print("Height :",h)

In [ ]:
#Modulo Method
print("Name : %s"%(a))
print("DOB : %d - %d - %d"%(b,c,d))
print("Height : %f"%(h))

Name : Sai Vardhan
DOB : 24 - 8 - 2024
Height : 5.700000

In [ ]:
#F - Format
print(f"Name : {a}")
print(f"DOB : {b} - {c} - {d}")
print(f"Height : {h}")

Name : Sai Vardhan
DOB : 24 - 8 - 2024
Height : 5.7

In [ ]:
#Dot format Method
print("Name : {}".format(a))
print("DOB : {} - {} - {}".format(b,c,d))
print("Height : {0:.3f}".format(h))

Name : Sai Vardhan
DOB : 24 - 8 - 2024
Height : 5.700

#Operators

#Membership  Operator

In [ ]:
x = "abcd"
print(x in x)
print(x not in x)
print("a" in x)
print("x" not in x)
print("b" not in x)

True
False
True
True
False