In [ ]:
#Problem - 1
#Approach - 1
'''
tc = int(input())
for _ in range(tc):
  n = int(input())
  arr = list(map(int,input().split()))[:n]
  s1 = set(arr)
  s2 = list(s1)
  s2.sort()
  print(*s2,sep=" ")
'''
#Approach - 2
'''
tc = int(input())
for _ in range(tc):
  n = int(input())
  arr = list(map(int,input().split()))[:n]
  s1 = set(arr)
  s2 = list(s1)
  s2.sort()
  for i in s2:
    print(i,end=" ")
  print()
'''
#Appraoch - 3
'''
tc = int(input())
for _ in range(tc):
  n = int(input())
  arr = list(map(int,input().split()))[:n]
  s1 = set(arr)
  s2 = sorted(s1)
  print(*s2,sep=" ")
'''
#Approach - 4
'''
tc = int(input())
for _ in range(tc):
  n = int(input())
  arr = list(map(int,input().split()))[:n]
  res = []
  for i in arr:
    if i not in res:
      res.append(i)
  print(*res,sep=" ")
'''

2
3
1 1 2
1 2
5
1 2 2 3 3
1 2 3

In [ ]:
#Problem - 2
tc = int(input())
for i in range(tc):
  n = int(input())
  om = list(map(int,input().split()))
  addy = list(map(int,input().split()))
  om1 = 0
  addy1 = 0
  om2 = []
  addy2 = []
  for i in range(n):
    if om[i] >= 1:
      om1 = om1 + 1
    else:
      om2.append(om1)
      om1 = 0
    if addy[i] >= 1:
      addy1 = addy1 + 1
    else:
      addy2.append(addy1)
      addy1 = 0
  max1 = max(om2)
  max2 = max(addy2)
  if max1 == max2:
    print("Draw")
  elif max1 > max2:
    print("Om")
  else:
    print("Addy")

1
6
1 7 3 0 2 13
0 2 3 4 5 0
Addy

In [ ]:
#Problem - 3
#Approach - 1
'''
n = int(input())
d = {}
for i in range(n):
  val = int(input())
  if val in d:
    d[val] = d[val] + 1
  else:
    d[val] = 1
for i in d:
  if d[i] == 1:
    print(i)
    break
'''
#Approach - 2
'''
x = []
n = int(input())
for i in range(n):
  val = int(input())
  x.append(val)
for i in x:
  if x.count(i) == 1:
    print(i)
    break
'''
#Approach - 3
'''
x = []
n = int(input())
for i in range(n):
  val = int(input())
  x.append(val)
s1 = set(x)
for i in s1:
  if x.count(i) == 1:
    print(i)
    break
'''

3
1
8
1
8

In [ ]:
#problem - 4
'''
tc = int(input())
for _ in range(tc):
  n = int(input())
  x = list(map(int,input().split()))
  s1 = set(x)
  c = 0
  for i in s1:
    if x.count(i)%2 != 0:
      c = c + 1
  print(c)
'''

2
4
1 1 1 2
2
5
1 2 3 4 1
3