#Data Types

In [7]:
a = 10
print(type(a))
b = 10.50
print(type(b))
c = 3+4j
print(type(c))
d = True
print(type(d))
e = False
print(type(e))
f = "Hello codegnan"
print(type(f))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>

#Type Conversions

In [20]:
#Intger
a = 10
print(a)
print(type(a))
b = float(a)
print(b)
print(type(b))
c = str(a)
print(c)
print(type(c))

#Float
a = 10.567
print(a)
print(type(a))
b = str(a)
print(b)
print(type(b))
c = int(a)
print(c)
print(type(c))
# x = "abc"
# y = int(x)
# print(x)

#String
a = "10"
b = "10.56"
c = "abc"
print(a,b,c)
print(type(a),type(b),type(c))
a1 = int(a)
print(a1)
print(type(a1))
a2 = float(a)
print(a2)
print(type(a2))
a3 = float(b)
print(a3)
print(type(a3))

10
<class 'int'>
10.0
<class 'float'>
10
<class 'str'>
10.567
<class 'float'>
10.567
<class 'str'>
10
<class 'int'>
10 10.56 abc
<class 'str'> <class 'str'> <class 'str'>
10
<class 'int'>
10.0
<class 'float'>
10.56
<class 'float'>