#OPERATIONS
    1. Creation
    2. Accessing
    3. Insertion
    4. Deletion
    5. Updation

#CREATION

In [ ]:
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
a = [10,"sai",56.45,True,67]
print(a)
print(type(a))

[10, 'sai', 56.45, True, 67]
<class 'list'>

In [ ]:
#Type  - 1
'''
x = input().split()
print(x)
print(type(x))
y = input("Enter number: ").split()
print(y)
'''
#Type - 2
'''
x = list(map(int,input().split()))
print(x)
y = list(map(int,input("Enter Numbers: ").split()))
print(y)
z = list(map(int,input().split(",")))
print(z)
a1 = list(map(float,input().split()))
print(a1)
'''

10.45 34.56 70
[10.45, 34.56, 70.0]

#ACCESSING
    1. Indexing
        1.1. Positive indexing
        1.2. Negetive indexing
    2. Looping
        2.1. Looping with Range
        2.2. Looping without Range
    3. Methods
    4. Slicing

In [ ]:
#Positive Indexing
'''
a = [10,11,12,13,14]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
'''
#Negetive Indexing
'''
a = [10,11,12,13,14]
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
'''
#Looping with range
'''
a = [10,11,12,13,14]
for i in range(5):
  print(i,"->",a[i])
'''
#Looping without Range
'''
a = [10,11,12,13,14]
for i in a:
  print(i)
'''
#Methods
'''
a = [10,20,30,40,50,30]
print(a.index(20))
print(a.index(30))
res = a.index(50)
print(res)
'''
#count
'''
a = [10,20,30,40,50,30]
print(a.count(10))
res = a.count(30)
print(res)
'''
#copy
'''
a = [10,20,30,40,50,30]
b = a.copy()
print(b)
'''
#Positive Slicing
'''
a = [10,20,30,40,50]
print(a[:])
print(a[::])
print(a[::1])
print(a[2:])
print(a[:3])
print(a[1:4])
print(a[1:4:2])
'''
#Negetive Slicing
'''
a = [10,20,30,40,50]
print(a[::-1])
print(a[-4:-2])
print(a[-4:-2:1])
print(a[-4:-2][::-1])
'''

[50, 40, 30, 20, 10]
[20, 30]
[20, 30]
[30, 20]

#INSERTION
    1. append()
    2. extend()
    3. insert()

In [ ]:
#Append
'''
a = [10,20,30,40]
a.append(50)
print(a)
'''
#extend
'''
a = [10,20,30]
a.extend([50])
print(a)
'''
#insert
'''
a = [10,30,40,50]
a.insert(1,20)
print(a)
'''

[10, 20, 30, 40, 50]

#Deletion
    1. Remove()
    2. pop()
    3. clear()

In [ ]:
#remove
'''
a = [10,20,30,40]
print(a)
a.remove(20)
print(a)
b = [10,20,30,40,20]
print(b)
b.remove(20)
print(b)
'''
#pop()
'''
a = [10,20,30,40,50]
print(a)
x = a.pop()
print(x)
print(a)
x = a.pop(1)
print(x)
print(a)
'''
#clear
a = [10,20,30]
print(a)
a.clear()
print(a)

[10, 20, 30]
[]

#Updation
    1. sort()
    2. reverse()

In [ ]:
#sort()
'''
a = [10,7,3,6]
print(a)
a.sort()
print(a)
'''
#reverse()
'''
a = [10,20,3,6,4]
print(a)
a.reverse()
print(a)
'''

[10, 20, 3, 6, 4]
[4, 6, 3, 20, 10]

#External Operations
    1. concatination
    2. repetetion
    3. membership

In [ ]:
#concatenation
'''
a = [10,20,30]
b = [40,50,60]
c = a + b
print(c)
'''
#repetetion
'''
a = [10,20,30]
print(a*5)
'''
#membership
'''
a = [10,20,30]
print(a in a)
print(10 in a)
print(10 not in a)
print(15 not in a)
'''

False
True
False
True

#Built in functions
    1. sum()
    2. max()
    3. min()
    4. all()
    5. any()
    6. len()
    7. sorted()

In [8]:
#Sum()
'''
a = [10,20,30,40,50]
print(sum(a))
x = sum(a)
print(x)
'''
#max()
'''
a = [10,20,40,30,15]
print(max(a))
x = max(a)
print(x)
'''
#min()
'''
a = [10,20,5,23,56]
print(min(a))
x = min(a)
print(x)
'''
#all
'''
a1 = [10,20,30,40]
a2 = []
a3 = [10,20,0,30,40]
print(all(a1))
print(all(a2))
print(all(a3))
'''
#any()
'''
a1 = [10,20,30,40]
a2 = []
a3 = [10,20,0,30,40]
print(any(a1))
print(any(a2))
print(any(a3))
'''
#sorted()
'''
a = [18,16,34,12,3,68]
print(sorted(a))
'''

150
150
40
40
5
5
True
True
False
True
False
True
[3, 12, 16, 18, 34, 68]

#List comprehension

In [17]:
#List of all odd numbers from 1 to n
#Approach - 1
'''
n = int(input())
res = []
for i in range(1,n+1):
  if i%2 != 0:
    res.append(i)
print(res)
'''
#Approach - 2
'''
n = int(input())
res = [i for i in range(1,n+1) if i%2 != 0]
print(res)
'''
#Appraoch - 3
'''
res = [i for i in range(int(input())) if i%2 != 0]
print(res)
'''
#approach - 4
'''
print([i for i in range(int(input())) if i%2 != 0])
'''
#List of all odd numbers from 1 to n in reverse order
'''
print([i for i in range(int(input())) if i%2 != 0][::-1])
'''

10
[9, 7, 5, 3, 1]

#Nested Lists [ Matrix ]

In [22]:
#Problem - 1
#Sum of two matrices
mat1 = []
mat2 = []
rows1 = int(input("Enter number of rows of 1st matrix: "))
cols1 = int(input("Enter number of columns of 1st matrix: "))
for i in range(rows1):
  x = list(map(int,input().split()))[:cols1]
  mat1.append(x)
rows2 = int(input("Enter number of rows of 2nd matrix: "))
cols2 = int(input("Enter number of columns of 2nd matrix: "))
for i in range(rows2):
  x = list(map(int,input().split()))[:cols2]
  mat2.append(x)
print(mat1)
print(mat2)
res = []
for i in range(rows1):
  z = [0]*cols1
  res.append(z)
print(res)
for i in range(rows1):
  for j in range(cols1):
    res[i][j] = mat1[i][j] + mat2[i][j]
print(res)

Enter number of rows of 1st matrix: 2
Enter number of columns of 1st matrix: 2
2 4
3 4
Enter number of rows of 2nd matrix: 2
Enter number of columns of 2nd matrix: 2
5 6
7 8
[[2, 4], [3, 4]]
[[5, 6], [7, 8]]
[[0, 0], [0, 0]]
[[7, 10], [10, 12]]

#Difference between shallow and deep copy

In [ ]:
#Deep Copy
'''
a = [10,20,30,40]
b = a
print("Before Update")
print(a)
print(b)
print("After Update")
a[2] = 350
print(a)
print(b)
b[1] = 1000
print(a)
print(b)
'''
#Shallow Copy
'''
a = [10,20,30,40]
b = a.copy()
print("Before Update")
print(a)
print(b)
print("After Update")
a[2] = 350
print(a)
print(b)
'''

Before Update
[10, 20, 30, 40]
[10, 20, 30, 40]
After Update
[10, 20, 350, 40]
[10, 20, 30, 40]

In [25]:
#Problem - 1
'''
Take 5 values from the user using coma, Print the sum of indexes of all even numbers
'''
#Approach - 1
'''
a = list(map(int,input().split(",")))
temp = 0
for i in range(5):
  if a[i]%2 == 0:
    temp = temp + i
print(temp)
'''
#Problem - 2
'''
Take 5 values from the user using space, print the sum of all even numbers
'''
#Approach - 1
'''
a = list(map(int,input().split()))
temp = 0
for i in range(5):
  if a[i]%2 == 0:
    temp = temp + a[i]
print(temp)
'''
#Approach - 2
'''
a = list(map(int,input().split()))
temp = 0
for i in a:
  if i%2 == 0:
    temp = temp + i
print(temp)
'''
#Problem - 3
'''
Take 5 values from the user which will be given line by line. apply slicing such that first
two values of the list should be printed last and last three values should be printed first
'''
#Problme - 4
'''
Take 5 values from the user given in a line sepearted by spaces. Remove all the values with 20
present in the list
'''
#Approach - 1
'''
a = list(map(int,input().split()))
x = []
for i in range(5):
  if a[i] != 20:
    x.append(a[i])
print(x)
'''
#Appraoch - 2
'''
a = list(map(int,input().split()))
x = a.count(20)
for i in range(x):
  a.remove(20)
print(a)
'''
#Problem - 5
'''
A list of 4 numbers in between 1 to 5 will be given where one number will be missed.
find that number
'''
#Approach - 1
'''
x = list(map(int,input().split()))
for i in range(1,6):
  if i not in x:
    print(i)
 '''
#Approach - 2
'''
x = list(map(int,input().split()))
for i in range(1,6):
  if i not in x:
    print(i)
    break
'''
#Approach - 3

1 3 5 4
2

[0, 0]