#OOPS IN PYTHON
    1. Class
    2. Object
    3. Attributes
    4. Methods
    5. Constructors

In [ ]:
a = 30
def abc():
  print("Hello Outside Class")
class sample:
  pass
class sample1:
  def __init__(self):
    print("constructor inside sample 1")
  a = 10
  def abc(self):
    print("Hello Inside sample1")
class sample2:
  def __init__(self):
    print("constructor inside sample 2")
  a = 20
  def abc(self):
    print("Hello Inside sample2")
obj1 = sample1()
obj2 = sample2()
# print(obj1.a)
# print(obj2.a)
# print(a)
# abc()
# obj1.abc()
# obj2.abc()

constructor inside sample 1
constructor inside sample 2

In [ ]:
class abc:
  def addition(self,a,b):
    return a+b
class xyz:
  def multiplication(self,a,b):
    return a*b
obj1 = abc()
obj2 = xyz()
print(obj1.addition(10,30))
print(obj2.multiplication(10,2))

40
20

In [ ]:
class rectangle:
  def __init__(self,l,b):
    self.l = l
    self.b = b
  def area(self):
    return self.l*self.b
  def perimeter(self):
    return 2*(self.l+self.b)
obj1 = rectangle(10,20)
print(obj1.area())
print(obj1.perimeter())

200
60

In [ ]:
class square:
  def __init__(self,s):
    self.s = s
  def area(self):
    print(self.s*self.s)
  def perimeter(self):
    print(4*self.s)
s1 = square(10)
s2 = square(4)
s1.area()
s2.area()
s1.perimeter()
s2.perimeter()

100
16
40
16

In [ ]:
class ABC:
  def __init__(self,n):
    self.n = n
  def sumofnumbers(self):
    res = 0
    for i in range(1,self.n+1):
      res = res + i
    return res
  def productofnumbers(self):
    res = 1
    for i in range(1,self.n+1):
      res = res * i
    print(res)
obj = ABC(5)
print(obj.sumofnumbers())
obj.productofnumbers()
print(obj)

15
120
<__main__.ABC object at 0x780a8c2e70d0>

#Access Specifiers
    1. Public
    2. Private

In [ ]:
a = 0
class xyz:
  def __init__(self):
    self.a = 20
  def display1(self):
    self.a = 200
    print(self.a)
ob = xyz()
print(ob.a)
print(a)
ob.display()
ob.a = 300
print(ob.a)

20
0
200
300

In [ ]:
class abc:
  def __init__(self):
    self.__x = 10
  def display1(self):
    self.__x = 100
    print(self.__x)
  def display(self):
    print(self.__x)
ob1 = abc()
ob1.display()
ob1.display1()
ob1.__x = 1000
ob1.display()

10
100
100

#4 PILLERS OF OOPS
    1. Encapsulation
    2. Inheritance
    3. Polymorphism
    3. Abstraction

#1. Encapsulation

#2. Inheritance
    1. Single Inheritance
    2. Multiple Inheritance
    3. Multi Level Inheritance
    4. Hierarchical Inheritance
    5. Hybrid Inheritance

In [ ]:
#Single Inheritance
class parent:
  c = 1000
  a = 10
  def hello(self):
    print("I am from Parent class")
class child(parent):
  c = 2000
  b = 20
  def display(self):
    print("I am from child class")
p1 = parent()
print(p1.a)
p1.hello()
c1 = child()
print(c1.b)
c1.display()
c1.hello()
print(c1.c)

10
I am from Parent class
20
I am from child class
I am from Parent class
1000

In [ ]:
#Multiple Inheritance
class parent1:
  a = 10
  x = 100
class parent2:
  b = 20
  x = 200
class parent3:
  c = 30
  x = 300
class child(parent2,parent1,parent3):
  d = 40
c1 = child()
print(c1.d)
print(c1.c)
print(c1.b)
print(c1.a)
print(c1.x)

40
30
20
10
200

In [ ]:
#Multi Level
class a:
  x = 10
class b(a):
  y = 20
class c(b):
  z = 30
#Scenario - 1
c1 = c()
print(c1.z)
print(c1.y)
print(c1.x)
#Scenario - 2
b1 = b()
print(b1.y)
print(b1.x)
#Scenario - 3
a1 = a()
print(a1.x)

30
20
10
20
10
10

In [ ]:
#Hireracical Inheritance
class parent:
  a = 10
class child1(parent):
  b = 20
class child2(parent):
  c = 30
c1 =  child1()
print(c1.a)
print(c1.b)
c2 = child2()
print(c2.a)
print(c2.c)

10
20
10
30

#Super Method

In [ ]:
'''
class abc:
  def hello(self):
    print("I am from class abc")
class xyz(abc):
  def hello(self):
    super().hello()
    print("I am from class xyz")
x = xyz()
x.hello()
'''
'''
class abc:
  def __init__(self):
    print("I am from abc class")
class xyz(abc):
  def __init__(self):
    super().__init__()
    print("I am from xyz class")
x = xyz()
'''
'''
class a:
  def __init__(self):
    print("I am from class a")
class b(a):
  def __init__(self):
    print("I am from class b")
class c(b):
  def __init__(self):
    super().__init__()
c1 = c()
'''

I am from class b

AttributeError: 'NoneType' object has no attribute 'super'

#3. Polymorphism
    1. Method Overloading
    2. Method Overriding
    3. Operator Overloading

In [ ]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(c+d)

30
1020

#4. Hybrid Inheritance

#Abstraction

In [ ]:
from abc import ABC,abstractmethod
class car(ABC):
  @abstractmethod
  def __init__(self,name,model,year):
    self.name = name
    self.model = model
    self.year = year
  def display(self):
    print(self.name)
class tata(car):
  def __init__(self,name,model,year):
    self.name = name
    self.model = model
    self.year = year
  def display(self):
    print(self.name)
class bmw(car):
  def __init__(self,name,model,year):
    self.name = name
    self.model = model
    self.year = year
  def display(self):
    print(self.name)

c1 = tata("nexon","v1",2024)
c2 = tata("indica","v1",2012)
c3 = bmw("x7","v1",2025)
c1.display()
c2.display()
c3.display()

nexon
indica
x7

#Exception Handling
    Key Points:
        1. Try
        2. Except
        3. Else
        4. Finally

In [ ]:
#Error Handling  (1)
a = 10
b = 0
print(a/b)

ZeroDivisionError: division by zero

In [ ]:
#Error Handling  (2)
a = 10
b = "abc"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Error Handling  (3)
a = int(input())
print(a)

Hello

ValueError: invalid literal for int() with base 10: 'Hello'

In [ ]:
try:
  a = int(input())
  b = int(input())
  c = a/b
except:
  print("Error Occured")
else:
  print(c)
finally:
  print("visit again")

10
sai
Error Occured
visit again

In [ ]:
try:
  a = int(input())
  b = int(input())
  c = a/b
except ZeroDivisionError:
  print("Zero divison Errorr Occured")
except:
  print("another Error Occured")
else:
  print(c)
finally:
  print("visit again")

10
sai
another Error Occured
visit again

In [ ]:
try:
  a = int(input())
  b = int(input())
  c = a/b
except ZeroDivisionError:
  print("Zero divison Errorr Occured")
except ValueError:
  print("Value error Occured")
except:
  print("another error occured")
else:
  print(c)
finally:
  print("visit again")

10
sai
Value error Occured
visit again

In [ ]:
try:
  a = int(input())
  b = int(input())
  c1 = input()
  c = a/b
  d = a + c1
except ZeroDivisionError:
  print("Zero divison Errorr Occured")
except ValueError:
  print("Value error Occured")
except Exception as e:
  print("The Error  occured is :" , e)
else:
  print(c)
finally:
  print("visit again")

10
2
sai
The Error  occured is : unsupported operand type(s) for +: 'int' and 'str'
visit again