#Operations of Dictionary
    1. Creation
    2. Accessing
    3. Insertion
    4. Deletion
    5. Updation

#Creation
    1. Empty dictionary
    2. Dictionary with values
    3. Dictionary values with user inputs

In [ ]:
#Empty dictionary
'''
d = {}
print(d)
print(type(d))
'''
#Dictionary with values
'''
d = {1:100,"a":"sai",2:"abc","x":34,45:3.45,1:1000}
print(d)
print(type(d))
'''
#Dictionary with user inputs
'''
n = int(input(":enter no of elements: "))
d = {}
for i in range(n):
  key = input()
  value = input()
  d[key] = value
print(d)
print(type(d))
'''

:enter no of elements: 3
10
100
abc
abcdefg
x
56.789
{'10': '100', 'abc': 'abcdefg', 'x': '56.789'}
<class 'dict'>

#Accessing
    1. Indexing
    2. Looping
    3. Methods

In [ ]:
d = {1:100,2:200,3:300,4:400}
#Indexing
'''
print(d[2])
print(d[3])
'''
#Methods
'''
print(d.get(2))
print(d.get(3))
print(d.get(5))
d1 = d.copy()
print(d1)
print(d.keys())
x = d.keys()
print(x)
print(d.values())
x = d.values()
print(x)
print(d.items())
'''
#Looping
'''
for i in d:
  print(i)
for i in d:
  print(i,end=" ")
for i in d.keys():
  print(i)
for i in d:
  print(d[i])
for i in d:
  print(d[i],end=" ")
for i in d.values():
  print(i)
for i in d.items():
  print(i)
for i in d.items():
  print(i[0])
for i in d.items():
  print(i[1])
'''

(1, 100)
(2, 200)
(3, 300)
(4, 400)
1
2
3
4
100
200
300
400

#Insertion
    1. Indexing
    2. Methods

In [ ]:
d = {1:10,2:20,3:30,4:40,5:50}
#Indexing
'''
print(d)
d[6] = 60
print(d)
'''
#methods
'''
d.update({5:500,6:60})
print(d)
'''

{1: 10, 2: 20, 3: 30, 4: 40, 5: 500, 6: 60}

#Deletion
    1. Indexing
    2. Methods
    3. Keywords [ del ]

In [ ]:
d = {1:10,2:20,3:30,4:40}
#keywords
'''
del d
del(d)
'''
#Indexing
'''
print(d)
del d[2]
print(d)
'''
#Methods
'''
print(d)
d.pop(2)
print(d)
print(d)
d.popitem()
print(d)
'''

{1: 10, 2: 20, 3: 30, 4: 40}
{1: 10, 2: 20, 3: 30}

#Updation
    1. Indexing
    2. Methods

In [ ]:
d = {1:10,2:20,3:30,4:40}
#Indexing
'''
print(d)
d[2] = 250
print(d)
'''
#Methods
'''
print(d)
d.update({3:350})
print(d)
'''

{1: 10, 2: 20, 3: 30, 4: 40}
{1: 10, 2: 20, 3: 350, 4: 40}

#Dictionary Builtin functions
    1. len()
    2. sorted()

In [ ]:
d = {1:10,3:20,2:30,4:40}
print(d)
print(len(d))
print(sorted(d))

{1: 10, 3: 20, 2: 30, 4: 40}
4
[1, 2, 3, 4]

#External Operations
    1. Membership

In [ ]:
d = {10:100,20:200,30:300}
print(d)
print(10 in d)
print(100 in d)
print(100 not in d)

{10: 100, 20: 200, 30: 300}
True
False
True

#Nested Dictionary

In [ ]:
d = {1:10,2:[20,30],3:(40,50)}
print(d)
print(d[2][1])
print(d[3][0])

{1: 10, 2: [20, 30], 3: (40, 50)}
30
40

#Problem - 1
    Take Details of the user
    Details :
      0. Roll
      1. Name
      2. Date of birth [ dd-mm ]
      3. Instagram
      4. Mobile
    User will ask for roll no
      1. Name :  --------
      2. DOB : 24 - August
      3. Insta Id : ---------
      4. Mobile : -----------

In [ ]:
students = {}
months = {1:"jan",2:"feb",3:"mar",4:"apr",5:"may",6:"jun",7:"july",8:"aug",9:"sep",10:"oct",11:"nov",12:"dec"}
n = int(input("Enter no of Students: "))
for i in range(n):
  print(f"Enter deatails of {i+1} student: ")
  roll = int(input("Enter Roll number: "))
  name = input("Enter name: ")
  dob = list(map(int,input("Enter DOB [ dd-mm ]").split("-")))
  insta = input("Enter Insta Id: ")
  mobile = input("Enter Mobile Number: ")
  dob1 = f"{str(dob[0])} - {months[dob[1]]}"
  if roll in students:
    print("Roll number already exists")
  else:
    students[roll] = {"name" : name,"dob":dob1,"insta":insta,"mobile":mobile}
    print("Data Added sucessfully")
r = int(input("Enter roll number to get details: "))
if r not in students:
  print("Student does not exists")
else:
  x = students[r]
  print(f"Name : {x['name']}")
  print(f"DOB : {x['dob']}")
  print(f"Insta Id : {x['insta']}")
  print(f"Mobile : {x['mobile']}")

Enter no of Students: 2
Enter deatails of 1 student:
Enter Roll number: 101
Enter name: vardhan
Enter DOB [ dd-mm ]24-8
Enter Insta Id: iamsai2408
Enter Mobile Number: 7893570611
Data Added sucessfully
Enter deatails of 2 student:
Enter Roll number: 101
Enter name: malli
Enter DOB [ dd-mm ]16-5
Enter Insta Id: malli1234
Enter Mobile Number: 9876543211
Roll number already exists
Enter roll number to get details: 101
Name : vardhan
DOB : 24 - faug
Insta Id : iamsai2408
Mobile : 7893570611

In [ ]:
#Problem - 2
d = {}
n = int(input())
for i in range(n):
  x = input()
  if x in d:
    d[x] = d[x] + 1
  else:
    d[x] = 1
#print(d)
k = d.values()
k1 = max(k)
r = []
#print(k1)
for i in d:
  if d[i] == k1:
    r.append(i)
#print(r)
r.sort()
#print(r)
k2 = r[-1]
print(k2,k1)

10
mountain
lake
lake
zebra
tree
lake
zebra
zebra
animal
lakes
{'mountain': 1, 'lake': 3, 'zebra': 3, 'tree': 1, 'animal': 1, 'lakes': 1}
3
['lake', 'zebra']
['lake', 'zebra']
zebra 3