#Operators in Python
1. Relational
2. Arithemetic
3. Assignment
4. Bitwise
5. Logical
6. Memebership
7. Identity

In [ ]:
#Arithemetic
#Addition
a = 10
b = 20
print(a+b)
#subtraction
a = 15
b = 10
print(a-b)
#Multiplication
a = 10
b = 20
print(a*b)
#division
a = 13
b = 2
print(a/b)
#floor division
a = 13
b = 2
print(a//b)
#Modulos
a = 13
b = 2
print(a%b)
#Exponential
a = 2
b = 3
print(a ** b)

30
5
200
6.5
6
1
8

In [ ]:
#Relational Operators
#Less than
a = 10
b = 12
print(a<b)
#Greater than
a = 10
b = 2
print(a>b)
#Less than or equals to
a = 10
b = 10
print(a>=b)
#Greater than or equal to
a = 10
b = 10
print(a<=b)
#Equals to
a = 10
b = 10
print(a==b)
#Not equals to
a = 10
b = 20
print(a != b)

True
True
True
True
True
True

In [ ]:
#Assignment Operators
#Assign
a = 10
#Add and Assign
a = 10
b = 20
a = a + 2
print(a)
b += 2
print(b)
#subtract and Assign
a = 12
b = 12
a = a - 2
print(a)
b -= 2
print(b)
#Multiply and Assign
a = 2
b = 2
a = a * 10
print(a)
b *= 10
print(b)
#Divide and Assign
a = 13
b = 13
a = a / 2
print(a)
b /= 2
print(b)
#Modulos and Assign
a = 13
b = 13
a = a % 2
print(a)
b %= 2
print(b)
#Floor divide and Assign
a = 13
b = 13
a = a //2
print(a)
b //=2
print(b)
#Exponent and Assign
a = 2
b = 2
a = a ** 3
print(a)
b **= 3
print(b)

12
22
10
10
20
20
6.5
6.5
1
1
6
6
8
8

In [ ]:
#Bitwise Operators
#Bitwise and (&)
#Bitwise or (|)
#Bitwise xor (^)
#Bitwise Left shift
#Bitwise right shift
a = 5
b = 2
#Bitwise and (&)
print(a & b)
#Bitwise or (|)
print(a | b)
#Bitwise xor (^)
print(a ^ b)
#Bitwise Left shift
print(a << 2)
#Bitwise right shift
print(a >> 2)

0
7
7
20
1

In [ ]:
#Logical Operators
#Logiacal and
#Logical or
#Logical Not
age = 18
vc = False
#Logiacal and
print((age>=18) and (vc==True))
#Logical or
print((age>=18) or (vc==True))
#Logical Not
print(not((age>=18) and (vc==True)))

False
True
True

In [ ]:
#Membership Operators
#in
#not in
x = "codegnan"
#in
print("C" in x)
print("c" in x)
#not in
print("C" not in x)
print("c" not in x)

False
True
True
False

In [ ]:
#Identity Operator
#is
#is not
a = 10
b = 20
c = 10
print(id(a))
print(id(b))
print(id(c))
#is
print(a is b)
print(a is c)
#is not
print(a is not b)
print(a is not c)

136323458040336
136323458040656
136323458040336
False
True
True
False


#Problem Statement [ Formula Based ]
Three sides of the trainagle will be given check weather we can construct a traingle with those three vaues or not
a = 5
b = 5
c = 3
if we can construct -> True
if we can not Construct -> False

In [ ]:
a = 5
b = 3
c = 9
print((a+b>=c) and (a+c>=b) and (b+c>=a))

False