#Tuples
    1. Creation
    2. Accessing

#Creation

In [ ]:
#Empty Tuple
'''
a = ()
print(a)
print(type(a))
'''
#Tuple with multiple elements
'''
a = (10,20,"fwdfsad",56.45534,True)
print(a)
print(type(a))
'''
#Tuple with single element
'''
a = (1,)
print(a)
print(type(a))
'''
#Tuple using user inputs
'''
a = tuple(map(int,input().split()))
print(a)
print(type(a))
'''

10 20 30 40 50
(10, 20, 30, 40, 50)
<class 'tuple'>

#Accessing

In [ ]:
#Indexing
'''
a = (10,20,30,40,50)
#Positive
print(a[3])
#Negetive
print(a[-2])
'''
#Looping
'''
a = (10,20,30,40,50)
#with range
for i in range(5):
  print(a[i])
for i in range(5):
  print(a[i],end= " ")
print()
print(*a,sep=" ")
#without range
for i in a:
  print(i)
for i in a:
  print(i,end=" ")
'''
#Methods
'''
a = (10,20,30,40,20,40)
#index()
print(a.index(40))
#count()
print(a.count(40))
'''
#slicing
'''
a = (10,20,30,40,50)
#positive
print(a[2:4:2])
print(a[2:4])
#negetive
print(a[::-1])
'''

(30,)
(30, 40)
(50, 40, 30, 20, 10)

#Built in Functions
    1. sum()
    2. max()
    3. min()
    4. all()
    5. any()
    6. len()

In [ ]:
a = (10,20,30,40,50)
print(sum(a))
print(max(a))
print(min(a))
print(all(a))
print(any(a))
print(len(a))

150
50
10
True
True
5

#External Operations
    1. concatination
    2. repetetion
    3. Membership

In [ ]:
a = (10,20,30,40,50,60)
b = (100,200,300)
print(a+b)
print(a*3)
print(10 in a)
print(100 in b)
print(100 not in a)
print(100 not in b)

(10, 20, 30, 40, 50, 60, 100, 200, 300)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
True
True
True
False

#Tuple Comprehenesion

In [ ]:
a = [10,11,12,13,14]
x = tuple(i for i in a if i%2==0)
print(x)
print(type(x))

(10, 12, 14)
<class 'tuple'>

#Problem Statement - 1
    Write a program to print reverse of the number.
    Make sure all test cases should be passed

    Test cae - 1
    i/p -> 1234
    o/p -> 4321

    Test Case - 2
    i/p -> 100
    o/p -> 1

    Test case - 3
    i/p -> -123
    o/p -> -321

    Test case - 4
    i/p -> 0
    o/p -> 0

#Problem statement - 2
      Write a program to print first and last element in the given integer number

      Test Case - 1
      i/p -> 12345
      o/p -> 1 5

      Test Case - 2
      i/p -> -12345
      o/p -> 1 5

      Test Case - 3
      i/p -> 101
      o/p -> 1 1

      Test Case - 4
      i/p -> 1
      o/p -> 1 1